funkybot/files/logs/**
funkybot/files/reaction_pics/**
funkybot/files/cute_pics/**
funkybot/files/xml/denylist.xml
funkybot/files/funkybot.conf
**/__pycache__
funkybot/reminders.db
funkybot/funkydata.db
tests/test_logs/*
!funkybot/files/reaction_pics/.gitkeep
!funkybot/files/cute_pics/.gitkeep
!funkybot/files/logs/.gitkeep
!tests/test_logs/.gitkeep
